<div class="container">
    <div class="row">
        <video
            id="htvideo"
            #htvideo
            name="htvideo"
            class="videobox"
            autoplay="autoplay"
        ></video>
        <button
            *ngIf="!isVideoPlaying"
            class="btn btn-success d-block mt-4"
            (click)="startDetection()"
        >
            Start Gesture Detection
        </button>
        <button
            *ngIf="isVideoPlaying"
            class="btn btn-danger d-block mt-4"
            (click)="stopDetection()"
        >
            Stop Gesture Detection
        </button>
    </div>
</div>
